.ui.menu.top.fixed
  = link_to 'ぽーとあなりぃ', root_path, class: 'item', style: 'color: #21BA45 !important'
  - if user_signed_in?
    = link_to user_profile_path(current_user), class: 'item' do
      %i.ui.user.icon
      プロフィール
    = link_to user_activity_path(current_user), class: 'item' do
      %i.ui.write.icon
      自己PR文
  .right.menu
    .item
      - if user_signed_in?
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'ui basic button'
      - else
        = link_to 'Login', new_user_session_path, class: 'ui green button'
    .item
      = form_tag search_path, method: :get, class: 'ui transparent left icon input' do
        = text_field_tag :q, '', placeholder: 'キーワード検索'
        %i.search.icon